<!--- Base Template--->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src = "{{ url_for('static', filename='js/base.js') }}"></script>

    {% block head %}
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% block navbar %}
    <!--Navbar-->
    <nav class="navbar navbar-dark red lighten-1 mb-4" style="background-color:red">

        <!-- Navbar brand -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Movie Ticket Booking App</a>
        </div>

        <div>
            <div class="container-fluid">
                <ul class="nav">
                    <li class="nav-item mx-3"><a style = "color:#e3f2fd" class="nav-link"  href="/home">Home</a></li>
                    <li class="nav-item mx-3"><a style = "color:#e3f2fd" class="nav-link" href="/movies"> Movies </a></li>
                    <li class="nav-item mx-3"><a style = "color:#e3f2fd" class="nav-link" href="/slots"> Slots </a></li>
                    <li class="nav-item mx-3"><a style = "color:#e3f2fd" class="nav-link" href="/payments"> Payments </a></li>
                </ul>


                <!-- Collapse button -->
                <button class="navbar-toggler second-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent23"
                        aria-controls="navbarSupportedContent23" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="animated-icon2"><span></span><span></span><span></span><span></span></div>
                </button>
            </div>
        </div>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent23">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user-details/1">My Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wishlist">Wish List <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myTransactions">My Wallet <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign Out <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <!-- Links -->

        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->
{% endblock %}
{% block body %}{% endblock %}
</body>
</html>