<!--- movie booking details Template--->
{% extends "base.html" %}
{% block head %}{{ super() }}{% endblock %}
{% block title %} Movie Booking Details {% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="col-md-12">
            {% for slot in movieBookingDetails %}
                <div class="card my-2">
                    <div class="card-body row m-0 px-0" style="max-height:200px">
                        <div class="col-md-1 ml-3" style="background-color: royalblue">
                            <h1 class="text-justify my-auto mx-auto" style="color:whitesmoke">{{ slot['StartTime'] }}</h1>
                        </div>
                        <div class="col-md-2">
                            <p class="overflow" style="text-overflow: ellipsis; color: royalblue"> <strong>Time :</strong> {{ slot['StartTime'] }} - {{ slot['EndTime'] }}</p>
                            <p class="overflow" style="text-overflow: ellipsis;"> <strong>Theatre :</strong> {{ slot['TheatreName'] }}</p>
                            <p class="overflow" style="text-overflow: ellipsis;"> <strong>Location :</strong> {{ slot['City'] }}, {{ slot['Country'] }}</p>
                        </div>
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-2 my-auto">
                            <a href="/payment/{{ slot['MovieId'] }}/{{ slot['SlotId'] }}"><button class="btn btn-primary"> Proceed for Payment </button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block navbar %}{{ super() }}{% endblock %}