<!--- Index Template --->
{% extends "base.html" %}
{% block head %}{{ super() }}{% endblock %}
{% block title %} Index {% endblock %}
{% block body %}
    <div class="container-fluid row mx-auto">
        <div class="col-md-2 card" style="background-color: cornflowerblue ; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="card-title mx-auto"><h5>Top bookings</h5></div>
            <div class="card-body">
                {% for booking in topBookingList %}
                    <a href = "/payment/{{ booking['MovieId'] }}/{{ booking['SlotId'] }}" class="card my-2">
                        <div class="card-body row">
                            <div class="col-md-4 my-auto py-0" style="color: whitesmoke;background-color: mediumturquoise; height:100%;"> <h4>{{ booking['StartTime'] }}</h4></div>
                            <div class="col-md-8">
                                <h5 class="overflow" style="text-overflow: ellipsis; color: royalblue"> {{ booking['Title'] }} </h5>
                                <p class="overflow" style="text-overflow: ellipsis; color: chocolate"> {{ booking['StartTime'] }} - {{ booking['EndTime'] }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide col-md-8 mx-auto" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                {% for movie in topMoviesList %}
                    {% if movie['Id'] == topMoviesList[0]['Id'] %}
                        <a href = "/movieDetails/{{ movie['Id'] }}" class="carousel-item active">
                            <img class="d-block w-100" src="../static/images/black.png" alt="First slide">
                            <div class="carousel-caption  px-0 mx-0">
                                <h5 style="color: yellow"> Trending Movies </h5>
                                <h4 class="card-title overflow" style="color: brown; text-overflow: ellipsis;"><strong>Title : </strong>{{movie['Title']}}</h4>
                                <p class="card-text overflow" style="text-overflow: ellipsis;"><i class="fa fa-globe"></i> {{ movie['Country'] }}</p>
                                <p class="overflow" style="text-overflow: ellipsis; color: deepskyblue"><strong>Language : </strong> {{ movie['Language'] }}</p>
                                <p class="card-text overflow" style="text-overflow: ellipsis;"><strong>Content Rating : </strong>{{ movie['Content_rating'] }}</p>
                                <p class="card-text overflow" style="color: whitesmoke; text-overflow: ellipsis;"><strong>Budget : </strong>$ {{ movie['Budget'] }}</p>
                                <p class="card-text overflow" style="text-overflow: ellipsis;"><strong>Duration : </strong>{{ movie['Duration'] }} minutes</p>
                                <p class="card-text overflow" style="text-overflow: ellipsis;"><strong>Director : </strong>{{ movie['Director_name'] }}</p>
                                <p class="card-text overflow" style="text-overflow: ellipsis;"><strong>Cast : </strong>{{ movie['Actor1_name'] }}, {{ movie['Actor2_name'] }}</p>
                                <p class="card-text overflow" style="text-overflow: ellipsis;"><strong>Genre : </strong>{{ movie['Genres'] }}</p>
                                <p class="card-text overflow" style="text-overflow: ellipsis;"><strong>Year of Release : </strong>{{ movie['Release_year'] }}</p>
                            </div>
                        </a>
                    {% else %}
                        <a href = "/movieDetails/{{ movie['Id'] }}" class="carousel-item">
                            <img class="d-block w-100" src="../static/images/black.png" alt="First slide">
                            <div class="carousel-caption  px-0 mx-0">
                                <h4 class="card-title overflow" style="color: brown; text-overflow: ellipsis;"><strong>Title : </strong>{{movie['Title']}}</h4>
                                <p class="card-text overflow" style="text-overflow: ellipsis;"><i class="fa fa-globe"></i> {{ movie['Country'] }}</p>
                                <p class="overflow" style="text-overflow: ellipsis; color: deepskyblue"><strong>Language : </strong> {{ movie['Language'] }}</p>
                                <p class="card-text overflow" style="text-overflow: ellipsis;"><strong>Content Rating : </strong>{{ movie['Content_rating'] }}</p>
                                <p class="card-text overflow" style="color: whitesmoke; text-overflow: ellipsis;"><strong>Budget : </strong>$ {{ movie['Budget'] }}</p>
                                <p class="card-text overflow" style="text-overflow: ellipsis;"><strong>Duration : </strong>{{ movie['Duration'] }} minutes</p>
                                <p class="card-text overflow" style="text-overflow: ellipsis;"><strong>Director : </strong>{{ movie['Director_name'] }}</p>
                                <p class="card-text overflow" style="text-overflow: ellipsis;"><strong>Cast : </strong>{{ movie['Actor1_name'] }}, {{ movie['Actor2_name'] }}</p>
                                <p class="card-text overflow" style="text-overflow: ellipsis;"><strong>Genre : </strong>{{ movie['Genres'] }}</p>
                                <p class="card-text overflow" style="text-overflow: ellipsis;"><strong>Year of Release : </strong>{{ movie['Release_year'] }}</p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="col-md-2 card" style="background-color: cornflowerblue; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="mx-auto my-auto">
                <h6>Coming Soon !!!</h6>
            </div>
        </div>
    </div>
{% endblock %}
{% block navbar %}{{ super() }}{% endblock %}