<!--- movie details Template--->
{% extends "base.html" %}
{% block head %}{{ super() }}{% endblock %}
{% block title %} Movie Details {% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mb-5">
                {% for movie in movieDetails %}
                    <div class="card">
                        <img class="card-img-top" src="../../static/images/movieDetails.png" alt="Movie image" style="max-height: 500px;">
                        <a href="#" class="float mx-3 mt-3" style="width: 100px; height: 30px;">
                            <i class="fa fa-thumbs-up"></i>
                            {{ movie['Movie_fblikes'] }}
                        </a>
                        <div class="card-body">
                            <h4 class="card-title overflow" style="color: brown; text-overflow: ellipsis;"><strong>Title : </strong>{{movie['Title']}}</h4>
                            <p class="card-text overflow" style="text-overflow: ellipsis;"><i class="fa fa-globe"></i> {{ movie['Country'] }}</p>
                            <p class="overflow" style="text-overflow: ellipsis; color: royalblue"><strong>Language : </strong> {{ movie['Language'] }}</p>
                            <p class="card-text overflow" style="text-overflow: ellipsis;"><strong>Content Rating : </strong>{{ movie['Content_rating'] }}</p>
                            <p class="card-text overflow" style="color: darkgreen; text-overflow: ellipsis;"><strong>Budget : </strong>$ {{ movie['Budget'] }}</p>
                            <p class="card-text overflow" style="text-overflow: ellipsis;"><strong>Duration : </strong>{{ movie['Duration'] }} minutes</p>
                            <p class="card-text overflow" style="text-overflow: ellipsis;"><strong>Director : </strong>{{ movie['Director_name'] }}</p>
                            <p class="card-text overflow" style="text-overflow: ellipsis;"><strong>Cast : </strong>{{ movie['Actor1_name'] }}, {{ movie['Actor2_name'] }}</p>
                            <p class="card-text overflow" style="text-overflow: ellipsis;"><strong>Genre : </strong>{{ movie['Genres'] }}</p>
                            <p class="card-text overflow" style="text-overflow: ellipsis;"><strong>Year of Release : </strong>{{ movie['Release_year'] }}</p>
                            <div class="row">
                                <div class="col-md-2">
                                    <a href="/bookTickets/{{ movie['Id'] }}" class="btn btn-primary">Book Tickets</a>
                                </div>
                                <div class="col-md-2">
                                    {% if movie['inWishlist'] == "N" %}
                                        <a href="/addToWishlist/{{ movie['Id'] }}/1" class="btn btn-primary">Add to Wishlist</a>
                                    {% else %}
                                        <a href="#" class="btn btn-primary disabled">Add to Wishlist</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block navbar %}{{ super() }}{% endblock %}