<!--- my profile Template--->
{% extends "base.html" %}
{% block head %}{{ super() }}{% endblock %}
{% block title %} My Profile {% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div class="card-body">
                        <form class="form-group" action="/user-details" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-check-label">First Name </label>
                                    <input id="first-name" name="firstName" class="form-control" type="text" value="{{ userDetails[0]['FirstName'] }}" minlength="1">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-check-label">Last Name </label>
                                    <input id="last-name" name="lastName" class="form-control" type="text" value="{{ userDetails[0]['LastName'] }}" minlength="1">
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-check-label">Email </label>
                                    <input id="email" name="email" class="form-control" type="email" value="{{ userDetails[0]['Email'] }}" readonly>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-check-label">Primary Contact Number </label>
                                    <input id="primary-contact-number" name="primarycontactnumber" class="form-control" type="number" value="{{ userDetails[0]['PrimaryContact'] }}" minlength="1000000000">
                                </div>
                            </div>

                            <br>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-check-label">Country </label>
                                    <input id="country" name="country" class="form-control" type="text" value="{{ userDetails[0]['Country'] }}" minlength="1">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-check-label">City </label>
                                    <input id="city" name="city" class="form-control" type="text" value="{{ userDetails[0]['City'] }}" minlength="1">
                                </div>
                            </div>

                            <br>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-check-label">Gender </label>
                                    <input id="gender" name="gender" class="form-control" type="text" value="{{ userDetails[0]['Gender'] }}" readonly>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-check-label">Age </label>
                                    <input id="age" name="age" class="form-control" type="number" value="{{ userDetails[0]['Age'] }}" min="18" max="100">
                                </div>
                            </div>

                            <br>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-check-label">Default Payment Type </label>
                                    {% for mode in paymentModes %}
                                        <div class="form-check">
                                            {% if mode['PaymentType'] == userDetails[0]['DefaultPaymentType'] %}
                                                <input class="form-check-input position-static" type="radio" name="paymentMode" value="{{ mode['Id'] }}" checked id="paymentMode-{{ mode['Id'] }}">
                                                <label class="form-check-label" for="paymentMode-{{ mode['Id'] }}"> {{ mode['PaymentType'] }} </label>
                                            {% else %}
                                                <input class="form-check-input position-static" type="radio" name="paymentMode" value="{{ mode['Id'] }}" id="paymentMode-{{ mode['Id'] }}">
                                                <label class="form-check-label" for="paymentMode-{{ mode['Id'] }}"> {{ mode['PaymentType'] }} </label>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <br>
                            <br>
                            <div class="row mx-auto">
                                <div class="col-md-2 mx-auto">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block navbar %}{{ super() }}{% endblock %}